{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Appointment history of {{ patient }}</h1>
</div>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th>Appointment date</th>
      <th>Employee</th>
        <th>Employee speciality</th>
      <th>Start time</th>
      <th>End time</th>
    </tr>
    </thead>
    <tbody>
    {% for item in history %}
    <tr>
        <td>{{ item.start_time.date }}</td>
        <td>{{ item.employee.name }}</td>
        <td>{{ item.employee.speciality }}</td>
        <td>{{ item.start_time.time }}</td>
        <td>{{ item.end_time.time }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}