{% extends 'base.html' %}
{% load static %}
{% block content %}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Welcome to our Medical Centre Database!</h1>
      </div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <p id="my_text">This database contains 7 tables:
          <br>1) Employees
          <br>2) Medicine
          <br>3) Procedures
          <br>4) Appointments
          <br>5) Prescriptions
          <br>6) Performed Procedures
          <br>7) Patients
          <br><br>On the sidebar you can access 5 complex Quiries and 2 complex Reports.
        </p>
      </div>
{% endblock content %}